.loading {
  display: none;
  align-items: center;
  height: 70vh;
  img {
    width: 30%;
  }
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.info {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  margin-top: -0.6rem;
  font-style: italic;
  color: #a7d0c7;
}
.loading-info {
  color: #a5a5b5;
  font-size: 0.85rem;
  text-align: center;
  max-width: 30%;
  line-height: 1.7;
}

.error-container {
  color: red;
  padding-bottom: 0.25rem;
  display: none;
  &.active {
    display: block;
  }
}

.home-link {
  justify-content: space-around;
  align-items: center;
  display: flex;
  color: $blue-dark;
  margin-right: 1rem;
}

.dashboard,
.quick-start-guide,
.no-account {
  display: none;
  &.active {
    display: block;
  }
}
.quick-start-step {
  display: flex;
  &.hidden {
    display: none;
  }
}

.child-template {
  display: none;
}

.blocks .block.reviewable-task,
.blocks .block.active-tasks,
.blocks .block.child-template,
.blocks .block.parent-active-tasks {
  display: none;
  &.active {
    display: flex;
  }
}

.buy-go {
  margin-left: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $blue-dark;
}
.dashboard-logo {
  flex: 1;
}