.dashboard,
.quick-start-guide {
  display: none;
  &.active {
    display: block;
  }
}
.quick-start-step {
  display: flex;
  &.hidden {
    display: none;
  }
}

.child-template {
  display: none;
}