.inner-header {
  height: 20vh;
  background: #1D976C;
  background: -webkit-linear-gradient(to bottom, $green, #1D976C);
  background: linear-gradient(to bottom, $green, #1D976C);
  color: #fff;
  padding: 4rem;
  padding-top: 9rem;
}