$font: 'Lato', sans-serif;
$font-bold: 'Cabin', sans-serif;

$text-color: rgb(132, 132, 132);

$blue-dark: rgb(34, 34, 43);
$blue-darkest: #1e2a3e;

$green: #35c5a0;
$green-transparent: rgba(194, 218, 194, 0.27);
$green-dark: #2ea586;
$green-darkest: #217d65;

$grey-light: #cecece;
$gray-light: $grey-light;